<html>
<head>
<script>
function date()
{
var date = document.getElementById("date").value
document.getElementById("date1").value = date
var date1 = document.getElementById("date1").value
alert(date1);
}
</script>
<style>
#spent_hours_
{
width:20px;
}
td
{
text-align :center;
}
</style>
</head>
<body onload="do_stuff()">
<% @flag = 0 %>
<% @tid = Task.find(:all)%>
<%#= @tid.count %>

<%= link_to "Reports",my_reports_path %> |
<%= link_to "Timesheet" , my_timesheet_path %> |
<%= link_to "Backlogs" , backlogs_path %>

<%= form_tag(my_weeklog_path, :method => :post) do %>
<table width=100%>
<tr width=100%>
<th width=15%>Project name </th>
<th  width=20%>Task name</th> 
<% @date =Time.now.to_date %>
<th id="date" width=10%><%= @date - 6.days %></th> 
<th id="date" width=10%><%= @date - 5.days %></th> 
<th id="date" width=10%><%= @date - 4.days %></th> 
<th id="date" width=10%><%= @date - 3.days %></th> 
<th id="date" width=10%><%= @date - 2.days %></th> 
<th id="date" width=15%><%= @date - 1.day %></th> 
<th width=3%> <%= @date %> </th>
<!--<th width=10%>Description</th>
<th id="date" width=15%></th>
<th id="date" width=15%><% @date =Time.now.to_date %> <%= @date - 1.day %></th> -->
</tr>
<%@tid.each do |taskmain|%>
  <tr>
	<% if taskmain.acceptor == User.current.lastname%>
          	<% @user_story = Story.find(:all, :conditions => {:id => taskmain.story_id }) %>
		<% @user_story.each do |st| %>
			<% @iteration = Iteration.find(:all, :conditions => {:id => st.iteration_id, :status => "Open" }) %>
				<% @iteration.each do |it| %>
			 		<% @projects.each do |pro| %>
						<% if pro.id == it.project_id %>
							   <td width=15%><%= pro.name %></td>
							   <td width=20%> <%=taskmain.name%></td>
		 					   <% @logs = Log.new %>
							   <% for @flag in 1..7 %>
								<td width=10%>
							 		<%= hidden_field_tag 'task_id' , :value=> taskmain.id %>
									<%= text_field_tag "spent_hours[]" %>
									<% reported_date = @date %>
									<%= hidden_field_tag 'reported_date' , :value=> reported_date %>
									<% current_task = taskmain.id %>
									<%= hidden_field_tag 'task_id' , :value=> current_task %>&nbsp;
									<%#= text_field_tag 'description' %>
								</td>
								<% @flag = @flag + 1 %>
							   <% end %> 
						<% end %>
					<% end %>	
		     		<% end %>
	       <% end %>	
         <%end%>
 </tr>
<%end%>
</table>
<%= submit_tag('log')%> 
<% end %>
</body>
</html>

